<div class="card mt-3">
    <div class="card-body">

        <div>
            <h5>Edição de contas a pagar e receber</h5>
            <p>Preencha os campos para atualizar suas contas.</p>
        </div>

        <form>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label>Nome da conta:</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-md-3">
                    <label>Data da conta:</label>
                    <input type="date" class="form-control">
                </div>
                <div class="col-md-3">
                    <label>Valor da conta:</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-3">
                    <label>Tipo da conta:</label>
                    <select class="form-select">
                        <option value="">Escolha uma opção</option>
                        <option value="RECEBER">Conta a receber</option>
                        <option value="PAGAR">Conta a pagar</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label>Categoria da conta:</label>
                    <select class="form-select">
                        <option value="">Escolha uma opção</option>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-3">
                    <input type="submit" class="btn btn-primary" value="Salvar Alterações">
                </div>
            </div>
        </form>

    </div>
</div>